.gridParent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.6rem;
    background-color: var(--dark-navy);
}

.gridChild1 {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 1.5rem;
    box-shadow: inset 0 -0.8rem 0 #10212A;
    background-color: var(--semi-dark-navy);
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.gridChild2 {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 1.5rem;
    box-shadow: inset 0 -0.8rem 0 #10212A;
    background-color: var(--semi-dark-navy);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gridChild3 {
    grid-area: 1 / 3 / 2 / 4;
    border-radius: 1.5rem;
    box-shadow: inset 0 -0.8rem 0 #10212A;

    background-color: var(--semi-dark-navy);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gridChild4 {
    grid-area: 2 / 1 / 3 / 2;
    border-radius: 1.5rem;
    box-shadow: inset 0 -0.8rem 0 #10212A;

    background-color: var(--semi-dark-navy);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gridChild5 {
    grid-area: 2 / 2 / 3 / 3;
    border-radius: 1.5rem;
    box-shadow: inset 0 -0.8rem 0 #10212A;

    background-color: var(--semi-dark-navy);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.gridChild6 {
    grid-area: 2 / 3 / 3 / 4;
    border-radius: 1.5rem;
    box-shadow: inset 0 -0.8rem 0 #10212A;

    background-color: var(--semi-dark-navy);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gridChild7 {
    grid-area: 3 / 1 / 4 / 2;
    border-radius: 1.5rem;
    box-shadow: inset 0 -0.8rem 0 #10212A;

    background-color: var(--semi-dark-navy);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gridChild8 {
    grid-area: 3 / 2 / 4 / 3;
    border-radius: 1.5rem;

    background-color: var(--semi-dark-navy);
    box-shadow: inset 0 -0.8rem 0 #10212A;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gridChild9 {
    grid-area: 3 / 3 / 4 / 4;
    border-radius: 1.5rem;

    background-color: var(--semi-dark-navy);
    box-shadow: inset 0 -0.8rem 0 #10212A;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}