.logo {
    width: 7.2rem;
    height: 3.2rem;
}

.x-logo {
    width: 3.2rem;
    height: 3.2rem;
}

.o-logo {
    width: 3.2rem;
    height: 3.2rem;
}

.x-logo-change_turn {
    width: 2rem;
    height: 2rem;
}

.o-logo-change_turn {
    width: 2rem;
    height: 2rem;
}

.restart-icon {
    width: 2rem;
    height: 2rem;
}

.x-logo-grid {
    width: 6.4rem;
    height: 6.4rem;
}

.o-logo-grid {
    width: 6.4rem;
    height: 6.4rem;
}