.logo {
    width: 7.2rem;
    height: 3.2rem;
}

.x-logo {
    width: 3.2rem;
    height: 3.2rem;
}

.o-logo {
    width: 3.2rem;
    height: 3.2rem;
}

.x-logo-change_turn {
    width: 2rem;
    height: 2rem;
}

.o-logo-change_turn {
    width: 2rem;
    height: 2rem;
}

.restart-icon {
    width: 2rem;
    height: 2rem;
}

.x-logo-grid {
    width: 6.4rem;
    height: 6.4rem;
}

.o-logo-grid {
    width: 7rem;
    height: 7rem;
}


.x-logo-grid-outline {
    width: 6.4rem;
    height: 6.4rem
}

.o-logo-grid-outline {
    width: 7rem;
    height: 7rem;
}

.x-logo-grid-outline:hover {
    content: url(../../assets/icon-x-outline.svg);
    width: 6.4rem;
    height: 6.4rem;
}

.o-logo-grid-outline:hover {
    content: url(../../assets//icon-o-outline.svg);
    width: 7rem;
    height: 7rem;
}


.o-result-logo {
    color: var(--light-yellow);

    width: 6.4rem;
    height: 6.4rem;
}

.x-result-logo {
    color: var(--light-blue);
    width: 6.4rem;
    height: 6.4rem;
}