.modal_container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.60);
    mix-blend-mode: normal;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.modal_main {
    width: 200rem;
    height: 26.6rem;
    
    position: fixed;
    top: 51.7%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--semi-dark-navy);
}